h1 {
  text-align: center;
}

.sidebar {
  width: 90%;
  float: right;
  background-color: aqua;
  margin: 2px;
  border: 10px solid rgb(72, 255, 0);
  padding: 4px;
  background-color: rgb(255, 255, 255);
}

img {
  width: 90%;
  float: left;
}

.column {
  width: 30%;
  float: left;
}